# Trabalho 1° de Mineração de Dados

## Movies on Netflix, Prime Video, Hulu and Disney+
### A collection of movies found on these streaming platforms

### Alunos

**Nome: Natanael Moreira de lemos - Matricula: 398447**  
**Nome: Ramiro Campos de Castro - Matricula: 400723**

## Perguntas Sobre o dataset

* Média de idade por cada plataforma ou por filme
* Média Imdb por país ou plataforma
* Média do Rotten Tomatoes
* Classificação de idade dos filmes em cada plataforma
* Diretor com mais filmes em cada plataforma
* Linguagem dos filmes
* Filmes com maior duração ou menor duração
* Qual plataforma tem mais séries ou filmes
* Gênero de filme mais popular
* Qual pais tem mais locação de filmes
* Qual plataforma possui mais disponibilidade de filmes 
* Ou Qual plataforma tem mais filmes

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import ast

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data = pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")
dataS = pd.read_csv("tv_shows.csv")
paises = pd.read_csv("Country.csv")

In [12]:
data.iloc[3,6]

9.6

In [8]:
data.head(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13,8.8,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18,8.7,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13,8.5,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7,8.5,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18,8.8,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [8]:
dataS.head(5)

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [ ]:
data.describe()

In [5]:
#Valores nulos

data.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 9390
IMDb                 571
Rotten Tomatoes    11586
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors            726
Genres               275
Country              435
Language             599
Runtime              592
dtype: int64

In [ ]:
data.info()

In [6]:
## Limpeza na coluna de idade

for i in range(len(data['Age'])):
    aux = data.loc[i,'Age']
    if aux != np.nan or aux != 'all' or aux != '':
        aux = str(aux)
        if '+' in aux:
            data.loc[i,'Age'] = aux.strip().split('+')[0]

In [ ]:
# cleanTomatoes(data)

In [7]:
## Limpeza na coluna do Rotten Tomatoes

for i in range(len(data['Rotten Tomatoes'])):
    aux = data.loc[i,'Rotten Tomatoes']
    if aux != np.nan or aux != '':
        aux = str(aux)
        if '%' in aux:
            data.loc[i,'Rotten Tomatoes'] = aux.strip().split('%')[0]

In [8]:
data['Rotten Tomatoes'] = data['Rotten Tomatoes'].apply(lambda x: float(x)/10)

### Contagem de idade dos Títulos

In [ ]:
data_age = data[(data['Age'] != 'all') | (data['Age'] != np.nan)]

In [ ]:
order = ['7','13','16','18','all']

In [ ]:
sns.catplot(x="Age", kind="count",color="#4682B4", data=data_age,order=order)

### Titulos com maiores notas no IMDb e no Rotten Tomatoes

In [ ]:
data[data['IMDb'] == data['IMDb'].max()][['Title','Year','Directors','Genres']].head(5)

In [ ]:
data[data['Rotten Tomatoes'] == data['Rotten Tomatoes'].max()][['Title','Year','Directors','Genres']].head(5)

### Idade dos Títulos por Plataforma

In [ ]:
# Separação das Plataformas

data_prime = data[data['Prime Video'] == 1].iloc[:,[1,2,3,4,5,6,7,11,12,13,14,15,16]]
data_netflix = data[data['Netflix'] == 1].iloc[:,[1,2,3,4,5,6,8,11,12,13,14,15,16]]
data_hulu = data[data['Hulu'] == 1].iloc[:,[1,2,3,4,5,6,7,9,12,13,14,15,16]]
data_disney = data[data['Disney+'] == 1].iloc[:,[1,2,3,4,5,6,10,11,12,13,14,15,16]]

In [ ]:
fig,axs = plt.subplots(nrows = 2,ncols = 2,figsize=(12,7),constrained_layout=True)

sns.countplot(x='Age',data=data_prime,ax=axs[0][0],order=order)
axs[0][0].set_title('Prime Video')
axs[0][0].set_ylim(0,3000)

sns.countplot(x='Age',data=data_hulu,ax=axs[0][1],order=order)
axs[0][1].set_title('Hulu')
axs[0][1].set_ylim(0,3000)

sns.countplot(x='Age',data=data_netflix,ax=axs[1][0],order=order)
axs[1][0].set_title('Netflix')
axs[1][0].set_ylim(0,3000)

sns.countplot(x='Age',data=data_disney,ax=axs[1][1],order=order)
axs[1][1].set_title('Disney')
axs[1][1].set_ylim(0,2700)

### Porcentagem de Filmes em cada plataforma

In [ ]:
labels = 'Netflix','PrimeVideo', 'Hulu','Disney+'
values = {'Netflix':0,'Prime Video':0,'Hulu':0,'Disney+':0}

values['Netflix'] = len(data[data['Netflix'] == 1])
values['Prime Video'] = len(data[data['Prime Video'] == 1])
values['Hulu'] = len(data[data['Hulu'] == 1])
values['Disney+'] = len(data[data['Disney+'] == 1])

sizes = list(values.values())

In [ ]:
fig, axes = plt.subplots(figsize=(7,7))
explode = (0, 0.1, 0, 0)

axes.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',shadow=True, startangle=100)
axes.axis('equal')
plt.show()

# 1.I Salvando os paises em um dataset

In [9]:
listPaises = []   
numOfFilmed = 0
for i in data["Country"].astype('category'):
    if(type(i) == float):
        continue
    # traverse for all elements 
    numOfFilmed += 1
    for x in i.split(","): 
        # check if exists in unique_list or not 
        if x not in listPaises: 
            listPaises.append(x) 
listPaises.sort()   
colunas = ["ID", "IMDb","Rotten Tomatoes"]
for p in listPaises:
    colunas.append(p)

In [ ]:
num = 0
paises = pd.DataFrame(columns=colunas)
for i in data["Country"].astype('category'):
    print("Linha de número %d"%(num+1))
    row =  { i : [0] for i in colunas }
    row["ID"] = num+1
    row["IMDb"] = data.iloc[num,5]
    row["Rotten Tomatoes"] = data.iloc[num,6]
    num += 1
    if(type(i) == float):
        # nesse caso, o(s) pais(es) onde os filmes foram filmados não está(ão) listado(s)
        None
    else:
        for x in i.split(","): 
                row[x] = 1

    row = pd.DataFrame(data=row)
    paises = df = pd.concat([paises, row])
paises.reset_index(drop=True, inplace=True)

In [10]:
paises

,ID,IMDb,Rotten Tomatoes,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Aruba,...,United States,Uruguay,Vanuatu,Venezuela,Vietnam,West Germany,Yemen,Yugoslavia,Zambia,Zimbabwe
0,1,8.8,8.7,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2,8.7,8.7,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,8.5,8.4,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4,8.5,9.6,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5,8.8,9.7,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,6.2,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16740,16741,4.7,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16741,16742,5.7,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16742,16743,6.6,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16743,16744,NaN,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [56]:
paises[paises.iloc[:,3:-1].sum(axis = 1)>1].iloc[:,1:3].mean()

IMDb               6.096099
Rotten Tomatoes    6.405000
dtype: float64

In [54]:
paises[paises.iloc[:,3:-1].sum(axis = 1)==1].iloc[:,1:3].mean()

IMDb               5.854008
Rotten Tomatoes    6.585499
dtype: float64

In [53]:
paises[paises.iloc[:,3:-1].sum(axis = 1)==0].iloc[:,1:3].mean()

IMDb               6.367431
Rotten Tomatoes    7.926316
dtype: float64

In [52]:
paises[paises.iloc[:,3:-1].sum(axis = 1)==0].iloc[:,1:3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 355 to 16650
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IMDb             218 non-null    float64
 1   Rotten Tomatoes  19 non-null     float64
dtypes: float64(2)
memory usage: 10.2 KB

In [20]:
paises.to_csv('paises.csv',index=False)
testando  = pd.read_csv("paises.csv")
testando

,ID,IMDb,Rotten Tomatoes,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Aruba,...,United States,Uruguay,Vanuatu,Venezuela,Vietnam,West Germany,Yemen,Yugoslavia,Zambia,Zimbabwe
0,1,8.8,8.7,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2,8.7,8.7,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,8.5,8.4,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4,8.5,9.6,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5,8.8,9.7,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,6.2,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16740,16741,4.7,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16741,16742,5.7,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16742,16743,6.6,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16743,16744,NaN,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

#  1.F Terminou os testes  dos paises em um dataset

# Ano de Lançamento dos Filmes por Plataforma

# Testes

In [9]:
data['Brazil' == data['Country']].head(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
280,280,281,The Edge of Democracy,2019,16+,7.1,97%,1,0,0,0,0,Petra Costa,"Documentary,History",Brazil,"Portuguese,English",121.0
296,296,297,Boy & the World,2014,7+,7.6,93%,1,0,0,0,0,Alê Abreu,"Animation,Adventure,Family",Brazil,Portuguese,80.0
1437,1437,1438,Rich in Love,2020,NaN,6.0,NaN,1,0,0,0,0,Bruno Garotti,"Comedy,Romance",Brazil,Portuguese,104.0
1774,1774,1775,Good Luck,2014,NaN,6.7,NaN,1,0,0,0,0,Carolina Jabor,Drama,Brazil,Portuguese,90.0
1847,1847,1848,The Silence of the Sky,2016,NaN,6.5,NaN,1,0,0,0,0,Marco Dutra,"Drama,Thriller",Brazil,"Spanish,Portuguese",102.0

In [10]:
listaAlvo = list(paises[paises["Brazil"]==1]['ID'].iloc[:]-1)

data.iloc[listaAlvo,:]

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
280,280,281,The Edge of Democracy,2019,16+,7.1,97%,1,0,0,0,0,Petra Costa,"Documentary,History",Brazil,"Portuguese,English",121.0
296,296,297,Boy & the World,2014,7+,7.6,93%,1,0,0,0,0,Alê Abreu,"Animation,Adventure,Family",Brazil,Portuguese,80.0
491,491,492,Trash,2014,18+,7.2,66%,1,0,0,0,0,"Stephen Daldry,Christian Duurvoort","Adventure,Crime,Drama,Mystery,Thriller","United Kingdom,Brazil,Germany","Portuguese,English",114.0
797,797,798,Game Over,2019,NaN,7.1,55%,1,0,0,0,0,Todd Holland,"Adventure,Comedy,Drama,Family,Romance,Sport","United States,Brazil","English,Brazilian Sign Language",96.0
1437,1437,1438,Rich in Love,2020,NaN,6.0,NaN,1,0,0,0,0,Bruno Garotti,"Comedy,Romance",Brazil,Portuguese,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13579,13579,13580,Classroom 6,2015,NaN,3.6,NaN,0,0,1,0,0,Jonas Odenheimer,"Horror,Mystery","United States,Germany,Brazil","English,Spanish",76.0
13871,13871,13872,Margarette's Feast,2002,NaN,6.9,NaN,0,0,1,0,0,Renato Falcão,Comedy,"Brazil,United States",NaN,90.0
13975,13975,13976,Mystery of the Pink Dolphin,2015,NaN,7.1,NaN,0,0,1,0,0,Eric Ellena,Documentary,"France,Brazil","French,English,Portuguese,Dutch",52.0
14299,14299,14300,GadgetGang in Outer Space,2017,all,3.9,NaN,0,0,1,0,0,Ale McHaddo,"Animation,Adventure,Comedy,Family,Fantasy,Sci-Fi",Brazil,Portuguese,80.0
15882,15882,15883,"Once Upon a Time Was I, Verônica",2012,NaN,NaN,NaN,0,0,1,0,0,Marcelo Gomes,Drama,"Brazil,France",Portuguese,91.0

In [5]:
br = list(paises[paises["Brazil"]==1]['ID'].iloc[:]-1)
data.iloc[br,:]

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
280,280,281,The Edge of Democracy,2019,16+,7.1,97%,1,0,0,0,0,Petra Costa,"Documentary,History",Brazil,"Portuguese,English",121.0
296,296,297,Boy & the World,2014,7+,7.6,93%,1,0,0,0,0,Alê Abreu,"Animation,Adventure,Family",Brazil,Portuguese,80.0
491,491,492,Trash,2014,18+,7.2,66%,1,0,0,0,0,"Stephen Daldry,Christian Duurvoort","Adventure,Crime,Drama,Mystery,Thriller","United Kingdom,Brazil,Germany","Portuguese,English",114.0
797,797,798,Game Over,2019,NaN,7.1,55%,1,0,0,0,0,Todd Holland,"Adventure,Comedy,Drama,Family,Romance,Sport","United States,Brazil","English,Brazilian Sign Language",96.0
1437,1437,1438,Rich in Love,2020,NaN,6.0,NaN,1,0,0,0,0,Bruno Garotti,"Comedy,Romance",Brazil,Portuguese,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13579,13579,13580,Classroom 6,2015,NaN,3.6,NaN,0,0,1,0,0,Jonas Odenheimer,"Horror,Mystery","United States,Germany,Brazil","English,Spanish",76.0
13871,13871,13872,Margarette's Feast,2002,NaN,6.9,NaN,0,0,1,0,0,Renato Falcão,Comedy,"Brazil,United States",NaN,90.0
13975,13975,13976,Mystery of the Pink Dolphin,2015,NaN,7.1,NaN,0,0,1,0,0,Eric Ellena,Documentary,"France,Brazil","French,English,Portuguese,Dutch",52.0
14299,14299,14300,GadgetGang in Outer Space,2017,all,3.9,NaN,0,0,1,0,0,Ale McHaddo,"Animation,Adventure,Comedy,Family,Fantasy,Sci-Fi",Brazil,Portuguese,80.0
15882,15882,15883,"Once Upon a Time Was I, Verônica",2012,NaN,NaN,NaN,0,0,1,0,0,Marcelo Gomes,Drama,"Brazil,France",Portuguese,91.0

In [ ]:
net = list(data[data["Netflix"]==1]['ID'].iloc[:]-1)
data.iloc[net,:]
pv = list(data[data["Prime Video"]==1]['ID'].iloc[:]-1)
data.iloc[pv,:]
hulu = list(data[data["Hulu"]==1]['ID'].iloc[:]-1)
data.iloc[hulu,:]
disneyP = list(data[data["Disney+"]==1]['ID'].iloc[:]-1)
data.iloc[disneyP,:]

In [ ]:
pv = list(data[data["Prime Video"]==1]['ID'].iloc[:]-1)
data.iloc[pv,:]

In [ ]:
hulu = list(data[data["Hulu"]==1]['ID'].iloc[:]-1)
data.iloc[hulu,:]

In [ ]:
disneyP = list(data[data["Disney+"]==1]['ID'].iloc[:]-1)
data.iloc[disneyP,:]

In [9]:
data.sum()

Unnamed: 0                                             140172396
ID                                                     140189140
Title          InceptionThe MatrixAvengers: Infinity WarBack ...
Year                                                    33538467
IMDb                                                     95465.2
Netflix                                                     3560
Hulu                                                         903
Prime Video                                                12354
Disney+                                                      564
Type                                                           0
Runtime                                              1.50881e+06
dtype: object