# Trabalho 1° de Mineração de Dados

## Movies on Netflix, Prime Video, Hulu and Disney+
### A collection of movies found on these streaming platforms

### Alunos

**Nome: Natanael Moreira de lemos - Matricula: 398447**  
**Nome: Ramiro Campos de Castro - Matricula: 400723**

## Perguntas Sobre o dataset

* Média de idade por cada plataforma ou por filme
* Média Imdb por país ou plataforma
* Média do Rotten Tomatoes
* Classificação de idade dos filmes em cada plataforma
* Diretor com mais filmes em cada plataforma
* Linguagem dos filmes
* Filmes com maior duração ou menor duração
* Qual plataforma tem mais séries ou filmes
* Gênero de filme mais popular
* Qual pais tem mais locação de filmes
* Qual plataforma possui mais disponibilidade de filmes 
* Ou Qual plataforma tem mais filmes

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import ast

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data = pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")
dataS = pd.read_csv("tv_shows.csv")
paises = pd.read_csv("paises.csv")

In [12]:
data.iloc[3,6]

9.6

In [8]:
data.head(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13,8.8,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18,8.7,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13,8.5,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7,8.5,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18,8.8,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [8]:
dataS.head(5)

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [ ]:
data.describe()

In [5]:
#Valores nulos

data.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 9390
IMDb                 571
Rotten Tomatoes    11586
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors            726
Genres               275
Country              435
Language             599
Runtime              592
dtype: int64

In [ ]:
data.info()

In [6]:
## Limpeza na coluna de idade

for i in range(len(data['Age'])):
    aux = data.loc[i,'Age']
    if aux != np.nan or aux != 'all' or aux != '':
        aux = str(aux)
        if '+' in aux:
            data.loc[i,'Age'] = aux.strip().split('+')[0]

In [ ]:
# cleanTomatoes(data)

In [7]:
## Limpeza na coluna do Rotten Tomatoes

for i in range(len(data['Rotten Tomatoes'])):
    aux = data.loc[i,'Rotten Tomatoes']
    if aux != np.nan or aux != '':
        aux = str(aux)
        if '%' in aux:
            data.loc[i,'Rotten Tomatoes'] = aux.strip().split('%')[0]

In [8]:
data['Rotten Tomatoes'] = data['Rotten Tomatoes'].apply(lambda x: float(x)/10)

### Contagem de idade dos Títulos

In [ ]:
data_age = data[(data['Age'] != 'all') | (data['Age'] != np.nan)]

In [ ]:
order = ['7','13','16','18','all']

In [ ]:
sns.catplot(x="Age", kind="count",color="#4682B4", data=data_age,order=order)

### Titulos com maiores notas no IMDb e no Rotten Tomatoes

In [ ]:
data[data['IMDb'] == data['IMDb'].max()][['Title','Year','Directors','Genres']].head(5)

In [ ]:
data[data['Rotten Tomatoes'] == data['Rotten Tomatoes'].max()][['Title','Year','Directors','Genres']].head(5)

### Idade dos Títulos por Plataforma

In [ ]:
# Separação das Plataformas

data_prime = data[data['Prime Video'] == 1].iloc[:,[1,2,3,4,5,6,7,11,12,13,14,15,16]]
data_netflix = data[data['Netflix'] == 1].iloc[:,[1,2,3,4,5,6,8,11,12,13,14,15,16]]
data_hulu = data[data['Hulu'] == 1].iloc[:,[1,2,3,4,5,6,7,9,12,13,14,15,16]]
data_disney = data[data['Disney+'] == 1].iloc[:,[1,2,3,4,5,6,10,11,12,13,14,15,16]]

In [ ]:
fig,axs = plt.subplots(nrows = 2,ncols = 2,figsize=(12,7),constrained_layout=True)

sns.countplot(x='Age',data=data_prime,ax=axs[0][0],order=order)
axs[0][0].set_title('Prime Video')
axs[0][0].set_ylim(0,3000)

sns.countplot(x='Age',data=data_hulu,ax=axs[0][1],order=order)
axs[0][1].set_title('Hulu')
axs[0][1].set_ylim(0,3000)

sns.countplot(x='Age',data=data_netflix,ax=axs[1][0],order=order)
axs[1][0].set_title('Netflix')
axs[1][0].set_ylim(0,3000)

sns.countplot(x='Age',data=data_disney,ax=axs[1][1],order=order)
axs[1][1].set_title('Disney')
axs[1][1].set_ylim(0,2700)

### Porcentagem de Filmes em cada plataforma

In [ ]:
labels = 'Netflix','PrimeVideo', 'Hulu','Disney+'
values = {'Netflix':0,'Prime Video':0,'Hulu':0,'Disney+':0}

values['Netflix'] = len(data[data['Netflix'] == 1])
values['Prime Video'] = len(data[data['Prime Video'] == 1])
values['Hulu'] = len(data[data['Hulu'] == 1])
values['Disney+'] = len(data[data['Disney+'] == 1])

sizes = list(values.values())

In [ ]:
fig, axes = plt.subplots(figsize=(7,7))
explode = (0, 0.1, 0, 0)

axes.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',shadow=True, startangle=100)
axes.axis('equal')
plt.show()

# 1.I Salvando os paises em um dataset

In [9]:
listPaises = []   
numOfFilmed = 0
for i in data["Country"].astype('category'):
    if(type(i) == float):
        continue
    # traverse for all elements 
    numOfFilmed += 1
    for x in i.split(","): 
        # check if exists in unique_list or not 
        if x not in listPaises: 
            listPaises.append(x) 
listPaises.sort()   
colunas = ["ID", "IMDb","Rotten Tomatoes"]
for p in listPaises:
    colunas.append(p)

In [ ]:
num = 0
paises = pd.DataFrame(columns=colunas)
for i in data["Country"].astype('category'):
    print("Linha de número %d"%(num+1))
    row =  { i : [0] for i in colunas }
    row["ID"] = num+1
    row["IMDb"] = data.iloc[num,5]
    row["Rotten Tomatoes"] = data.iloc[num,6]
    num += 1
    if(type(i) == float):
        # nesse caso, o(s) pais(es) onde os filmes foram filmados não está(ão) listado(s)
        None
    else:
        for x in i.split(","): 
                row[x] = 1

    row = pd.DataFrame(data=row)
    paises = df = pd.concat([paises, row])
paises.reset_index(drop=True, inplace=True)

In [10]:
paises

,ID,IMDb,Rotten Tomatoes,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Aruba,...,United States,Uruguay,Vanuatu,Venezuela,Vietnam,West Germany,Yemen,Yugoslavia,Zambia,Zimbabwe
0,1,8.8,8.7,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2,8.7,8.7,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,8.5,8.4,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4,8.5,9.6,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5,8.8,9.7,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,6.2,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16740,16741,4.7,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16741,16742,5.7,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16742,16743,6.6,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16743,16744,NaN,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [56]:
paises[paises.iloc[:,3:-1].sum(axis = 1)>1].iloc[:,1:3].mean()

IMDb               6.096099
Rotten Tomatoes    6.405000
dtype: float64

In [54]:
paises[paises.iloc[:,3:-1].sum(axis = 1)==1].iloc[:,1:3].mean()

IMDb               5.854008
Rotten Tomatoes    6.585499
dtype: float64

In [53]:
paises[paises.iloc[:,3:-1].sum(axis = 1)==0].iloc[:,1:3].mean()

IMDb               6.367431
Rotten Tomatoes    7.926316
dtype: float64

In [52]:
paises[paises.iloc[:,3:-1].sum(axis = 1)==0].iloc[:,1:3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 355 to 16650
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IMDb             218 non-null    float64
 1   Rotten Tomatoes  19 non-null     float64
dtypes: float64(2)
memory usage: 10.2 KB

In [20]:
paises.to_csv('paises.csv',index=False)
testando  = pd.read_csv("paises.csv")
testando

,ID,IMDb,Rotten Tomatoes,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Aruba,...,United States,Uruguay,Vanuatu,Venezuela,Vietnam,West Germany,Yemen,Yugoslavia,Zambia,Zimbabwe
0,1,8.8,8.7,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2,8.7,8.7,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,8.5,8.4,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4,8.5,9.6,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5,8.8,9.7,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,6.2,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16740,16741,4.7,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16741,16742,5.7,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16742,16743,6.6,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16743,16744,NaN,NaN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

#  1.F Terminou os testes  dos paises em um dataset

# Ano de Lançamento dos Filmes por Plataforma

# Fuções

In [10]:
data = pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")
dataS = pd.read_csv("tv_shows.csv")

In [ ]:
def cleanAge(df):
    for i in range(len(data['Age'])):
        aux = df.loc[i,'Age']
        if aux != np.nan or aux != 'all' or aux != '':
            aux = str(aux)
            if '+' in aux:
                df.loc[i,'Age'] = aux.strip().split('+')[0]

In [ ]:
def cleanTomatoes(df):
    for i in range(len(df['Rotten Tomatoes'])):
        aux = df.loc[i,'Rotten Tomatoes']
        if aux != np.nan or aux != '':
            aux = str(aux)
            if '%' in aux:
                df.loc[i,'Rotten Tomatoes'] = aux.strip().split('%')[0]

    df['Rotten Tomatoes'] = df['Rotten Tomatoes'].apply(lambda x: float(x)/10)

In [ ]:
cleanTomatoes(data)
cleanAge(data)
data.head(10)

In [ ]:
cleanAge(dataS)
# cleanTomatoes(dataS)
dataS.head(10)

# Testes

In [ ]:
dataYearPV = data[data['Prime Video'] == 1][['Year']]
dataYearPV = dataYearPV.rename(columns={'Year':"Prime Video"})

dataYearNet = data[data['Netflix'] == 1][['Year']]
dataYearNet = dataYearNet.rename(columns={'Year':"Netflix"})

dataYearHulu = data[data['Hulu'] == 1][['Year']]
dataYearHulu = dataYearHulu.rename(columns={'Year':"Hulu"})

dataYearD = data[data['Disney+'] == 1][['Year']]
dataYearD = dataYearD.rename(columns={'Year':"Disney"})

dataHist = pd.concat([dataYearPV,dataYearNet, dataYearHulu, dataYearD], axis=1)

In [ ]:
dataHist

## Histograma com subplot legal

In [ ]:
dataHist.hist(bins = 12, range = (1900,2020), figsize=(14, 12), log = True, label = ['ano', 'quantidade'])

# plt.xlabel("X-axis") 
# plt.ylabel("y-axis") 
plt.show()

## Histograma com subplot vertical

In [ ]:
# plt.subplot(2, 2, 1)
dataYearPV.hist(bins = 12, range = (1900,2020))
plt.title('Prime Videos')
plt.xlabel('Ano')
plt.ylabel('Qntd')
plt.show()

# plt.subplot(2, 2, 2)
dataYearNet.hist(bins = 12, range = (1900,2020))
plt.title('Netflix')
plt.xlabel('Ano')
plt.ylabel('Qntd')
plt.show()

# plt.subplot(2, 2, 3)
dataYearHulu.hist(bins = 12, range = (1900,2020))
plt.title('Hulu')
plt.xlabel('Ano')
plt.ylabel('Qntd')
plt.show()

# plt.subplot(2, 2, 4)
dataYearD.hist(bins = 12, range = (1900,2020))
plt.title('Disney+')
plt.xlabel('Ano')
plt.ylabel('Qntd')
plt.show()