# Trabalho 1° de Mineração de Dados

## Movies on Netflix, Prime Video, Hulu and Disney+
### A collection of movies found on these streaming platforms

### Alunos

**Nome: Natanael Moreira de lemos - Matricula: 398447**  
**Nome: Ramiro Campos de Castro - Matricula: 400723**

## Perguntas Sobre o dataset

* Média de idade por cada plataforma ou por filme
* Média Imdb por país ou plataforma
* Média do Rotten Tomatoes
* Classificação de idade dos filmes em cada plataforma
* Diretor com mais filmes em cada plataforma
* Linguagem dos filmes
* Filmes com maior duração ou menor duração
* Qual plataforma tem mais séries ou filmes
* Gênero de filme mais popular
* Qual pais tem mais locação de filmes
* Qual plataforma possui mais disponibilidade de filmes 
* Ou Qual plataforma tem mais filmes

# <span style="color:green"> 1. Importando as Bibliotecas, lendo os DataSets</span>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data_movies = pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")
data_series = pd.read_csv("tv_shows.csv")
data_series.rename(columns={'Unnamed: 0': 'ID', 'type': 'Type'},inplace=True)
numMovies = len(data_movies.index)
numSeries = len(data_series.index)
data_series['ID']=data_series.apply(lambda x: x['ID']+numMovies+1,axis=1)

# <span style="color:green"> 2. Vendo informações sobre os DataSets </span>

In [4]:
data_movies.head(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [5]:
data_series.head(5)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,16745,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,16746,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,16747,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,16748,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,16749,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [6]:
data_movies.describe()

,Unnamed: 0,ID,Year,IMDb,Netflix,Hulu,Prime Video,Disney+,Type,Runtime
count,16744.000000,16744.000000,16744.000000,16173.000000,16744.000000,16744.000000,16744.000000,16744.000000,16744.0,16152.000000
mean,8371.500000,8372.500000,2003.014035,5.902751,0.212613,0.053930,0.737817,0.033684,0.0,93.413447
std,4833.720789,4833.720789,20.674321,1.347867,0.409169,0.225886,0.439835,0.180419,0.0,28.219222
min,0.000000,1.000000,1902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000
25%,4185.750000,4186.750000,2000.000000,5.100000,0.000000,0.000000,0.000000,0.000000,0.0,82.000000
50%,8371.500000,8372.500000,2012.000000,6.100000,0.000000,0.000000,1.000000,0.000000,0.0,92.000000
75%,12557.250000,12558.250000,2016.000000,6.900000,0.000000,0.000000,1.000000,0.000000,0.0,104.000000
max,16743.000000,16744.000000,2020.000000,9.300000,1.000000,1.000000,1.000000,1.000000,0.0,1256.000000

In [7]:
#Valores nulos

data_movies.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 9390
IMDb                 571
Rotten Tomatoes    11586
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors            726
Genres               275
Country              435
Language             599
Runtime              592
dtype: int64

In [8]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16145 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

# <span style="color:green">3. Limpando alguns dados dos DataSets</span>

In [9]:
## Limpeza na coluna de idade

for i in range(len(data_movies['Age'])):
    aux = data_movies.loc[i,'Age']
    if aux != np.nan or aux != 'all' or aux != '':
        aux = str(aux)
        if '+' in aux:
            data_movies.loc[i,'Age'] = aux.strip().split('+')[0]
            
## Limpeza na coluna de idade

for i in range(len(data_series['Age'])):
    aux = data_series.loc[i,'Age']
    if aux != np.nan or aux != 'all' or aux != '':
        aux = str(aux)
        if '+' in aux:
            data_series.loc[i,'Age'] = aux.strip().split('+')[0]

In [ ]:
## Limpeza na coluna do Rotten Tomatoes no Filmes

for i in range(len(data_movies['Rotten Tomatoes'])):
        aux = data_movies.loc[i,'Rotten Tomatoes']
        if aux != np.nan or aux != '':
            aux = str(aux)
            if '%' in aux:
                data_movies.loc[i,'Rotten Tomatoes'] = aux.strip().split('%')[0]
## Deixa os valores de 0 a 10                
data_movies['Rotten Tomatoes'] = data_movies['Rotten Tomatoes'].apply(lambda x: float(x)/10)                

## Limpeza na coluna do Rotten Tomatoes nas Séries

for i in range(len(data_series['Rotten Tomatoes'])):
        aux = data_series.loc[i,'Rotten Tomatoes']
        if aux != np.nan or aux != '':
            aux = str(aux)
            if '%' in aux:
                data_series.loc[i,'Rotten Tomatoes'] = aux.strip().split('%')[0]
## Deixa os valores de 0 a 10
data_series['Rotten Tomatoes'] = data_series['Rotten Tomatoes'].apply(lambda x: float(x)/10)

In [10]:

data_movies.head(10)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
5,5,6,Spider-Man: Into the Spider-Verse,2018,7,8.4,97%,1,0,0,0,0,"Bob Persichetti,Peter Ramsey,Rodney Rothman","Animation,Action,Adventure,Family,Sci-Fi",United States,"English,Spanish",117.0
6,6,7,The Pianist,2002,18,8.5,95%,1,0,1,0,0,Roman Polanski,"Biography,Drama,Music,War","United Kingdom,France,Poland,Germany","English,German,Russian",150.0
7,7,8,Django Unchained,2012,18,8.4,87%,1,0,0,0,0,Quentin Tarantino,"Drama,Western",United States,"English,German,French,Italian",165.0
8,8,9,Raiders of the Lost Ark,1981,7,8.4,95%,1,0,0,0,0,Steven Spielberg,"Action,Adventure",United States,"English,German,Hebrew,Spanish,Arabic,Nepali",115.0
9,9,10,Inglourious Basterds,2009,18,8.3,89%,1,0,0,0,0,Quentin Tarantino,"Adventure,Drama,War","Germany,United States","English,German,French,Italian",153.0

In [11]:

data_series.head(10)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,16745,Breaking Bad,2008,18,9.5,96%,1,0,0,0,1
1,16746,Stranger Things,2016,16,8.8,93%,1,0,0,0,1
2,16747,Money Heist,2017,18,8.4,91%,1,0,0,0,1
3,16748,Sherlock,2010,16,9.1,78%,1,0,0,0,1
4,16749,Better Call Saul,2015,18,8.7,97%,1,0,0,0,1
5,16750,The Office,2005,16,8.9,81%,1,0,0,0,1
6,16751,Black Mirror,2011,18,8.8,83%,1,0,0,0,1
7,16752,Supernatural,2005,16,8.4,93%,1,0,0,0,1
8,16753,Peaky Blinders,2013,18,8.8,92%,1,0,0,0,1
9,16754,Avatar: The Last Airbender,2005,7,9.2,100%,1,0,0,0,1

# <span style="color:red">4. Juntando os 2 DataSets</span>
### é necessário?

In [ ]:
colunas = []

for col in data_series.columns:
    colunas.append(col)
print("Colunas em comum dos 2 DataSets:\n",colunas)
data_all = pd.concat([data_movies[colunas],data_series], axis=0)
data_all.index = data_all["ID"]
# data_all é o data frame com todos as séries e filmes

# <span style="color:green">5. Informações sobre os Títulos das plataformas</span>

### 5.1 Contagem de idade dos Títulos

In [ ]:
data_movies_age = data_movies[(data_movies['Age'] != 'all') | (data_movies['Age'] != np.nan)]
data_series_age = data_series[(data_series['Age'] != 'all') | (data_series['Age'] != np.nan)]

In [ ]:
order = ['7','13','16','18','all']

In [ ]:
sns.catplot(x="Age", kind="count",color="#4682B4", data=data_movies_age,order=order)
plt.title("Idade dos Filmes")
plt.show()

In [ ]:
sns.catplot(x="Age", kind="count",color="#4682B4", data=data_series_age,order=order)
plt.title("Idade das Séries")
plt.show()

### 5.2 Titulos com maiores notas no IMDb e no Rotten Tomatoes

In [ ]:
data_movies[data_movies['IMDb'] == data_movies['IMDb'].max()][['Title','Year','Directors','Genres']].head(5)

In [ ]:
data_movies[data_movies['Rotten Tomatoes'] == data_movies['Rotten Tomatoes'].max()][['Title','Year','Directors','Genres']].head(5)

### 5.3 Idade dos Títulos por Plataforma

In [ ]:
# Separação das Plataformas

data_prime = data_movies[data_movies['Prime Video'] == 1].iloc[:,[1,2,3,4,5,6,7,11,12,13,14,15,16]]
data_netflix = data_movies[data_movies['Netflix'] == 1].iloc[:,[1,2,3,4,5,6,8,11,12,13,14,15,16]]
data_hulu = data_movies[data_movies['Hulu'] == 1].iloc[:,[1,2,3,4,5,6,7,9,12,13,14,15,16]]
data_disney = data_movies[data_movies['Disney+'] == 1].iloc[:,[1,2,3,4,5,6,10,11,12,13,14,15,16]]

In [ ]:
fig,axs = plt.subplots(nrows = 2,ncols = 2,figsize=(12,7),constrained_layout=True)

sns.countplot(x='Age',data=data_prime,ax=axs[0][0],order=order)
axs[0][0].set_title('Prime Video')
axs[0][0].set_ylim(0,3000)

sns.countplot(x='Age',data=data_hulu,ax=axs[0][1],order=order)
axs[0][1].set_title('Hulu')
axs[0][1].set_ylim(0,3000)

sns.countplot(x='Age',data=data_netflix,ax=axs[1][0],order=order)
axs[1][0].set_title('Netflix')
axs[1][0].set_ylim(0,3000)

sns.countplot(x='Age',data=data_disney,ax=axs[1][1],order=order)
axs[1][1].set_title('Disney')
axs[1][1].set_ylim(0,2700)

plt.show()

### 5.4 Porcentagem de Filmes em cada plataforma

In [ ]:
labels = 'Netflix','PrimeVideo', 'Hulu','Disney+'
values = {'Netflix':0,'Prime Video':0,'Hulu':0,'Disney+':0}

values['Netflix'] = len(data_movies[data_movies['Netflix'] == 1])
values['Prime Video'] = len(data_movies[data_movies['Prime Video'] == 1])
values['Hulu'] = len(data_movies[data_movies['Hulu'] == 1])
values['Disney+'] = len(data_movies[data_movies['Disney+'] == 1])

sizes = list(values.values())

In [ ]:
fig, axes = plt.subplots(figsize=(7,7))
explode = (0, 0.1, 0, 0)

axes.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',shadow=True, startangle=100)
axes.axis('equal')
plt.show()

# Ano de Lançamento dos Filmes por Plataforma

# Funções

In [ ]:
def cleanAge(df):
    for i in range(len(data['Age'])):
        aux = df.loc[i,'Age']
        if aux != np.nan or aux != 'all' or aux != '':
            aux = str(aux)
            if '+' in aux:
                df.loc[i,'Age'] = aux.strip().split('+')[0]

In [ ]:
def cleanTomatoes(df):
    # o for é para tirar a %
    for i in range(len(df['Rotten Tomatoes'])):
        aux = df.loc[i,'Rotten Tomatoes']
        if aux != np.nan or aux != '':
            aux = str(aux)
            if '%' in aux:
                df.loc[i,'Rotten Tomatoes'] = aux.strip().split('%')[0]
    # divide o valor da nota do Rotten Tomatoes por 10, para ficar numa escala de 0 a 10
    df['Rotten Tomatoes'] = df['Rotten Tomatoes'].apply(lambda x: float(x)/10)